* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
}
.header {
  display: flex;
  gap: 5px;
  background-color: rgb(224, 224, 224);
  font-size: larger;
  text-transform: capitalize;
  padding: 30px;
  justify-content: space-between;
}

.menu {
}

.options {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: space-evenly;
}
.item {
  cursor: pointer;
  transition: scale 0.25s ease;
}

.item:hover {
  scale: 1.2;
}
